.navbar{
    position:  fixed;
    top: 0;

    width: 100%;
    height: 96px;

    background-color: var(--bg);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-btn {
    background: none!important;
    border: none;
}

.navbar .left {
    padding-left: 1%;
}

.navbar .right {
    display: flex;
    padding-right: 1%;
}

.navbar .right > button {
    margin-left: 10px;
    width: 120px;
    padding: 10px 0px 10px;
    text-align: center;
    font-size: 24px;
}

@media (prefers-color-scheme: light) {
    div.navbar {
        background-color: aqua;
    }
  }
  