.sidebar-active {
    transition: .5s;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;

    padding-top: 36px;
    height: 100%;
    background-color:cadetblue;
}

.sidebar-inactive {
    transition: .5s;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;

    padding-top: 36px;
    height: 100%;
    background-color:cadetblue;
}

.routes .tax-bar {
    
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    background-color: #242424;
}

.routes:hover .tax-bar {
    max-height: 5000px;
    transition: max-height 0.5s ease-in;
}



.close-btn {
    margin-bottom: 18px;
}


.routes {
    size: 0;
    height: 100%;
    background-color:brown;
    clear: both;
    overflow-x: hidden;
}