@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

@layer base {
	:root {
		/* #E7F9FF*/
		--background: 195, 100%, 95%;
		/* #1E3137*/
		--foreground: 194, 29%, 17%;

		/*#72CACF*/
		--primary: 183, 49%, 63%;
		/* #72CACF*/
		--primary-foreground: 183, 49%, 63%;

		/* 	#208C97 */
		--secondary: 186, 65%, 36%;
		/* 	#208C97*/
		--secondary-foreground: 186, 65%, 36%;

		/* BLACK */
		--accent: 195, 65%, 65%;
		/* GREY */
		--accent-foreground: 0, 0%, 50%;

		/* VIOLET */
		--card: 300, 76%, 72%;
		/* PINK*/
		--card-foreground: 350, 100%, 88%;

		/*MAGENTA */
		--popover: 300, 100%, 50%;
		/* INDIGO*/
		--popover-foreground: 275, 100%, 25%;

		/* TEAL */
		--muted: 195, 59%, 21%;
		/* BROWN */
		--muted-foreground: 0, 59%, 41%;

		/* CYAN */
		--destructive: 180, 100%, 50%;
		/* WHITE */
		--destructive-foreground: 0, 0%, 100%;

		--border: 195, 65%, 65%;
		--input: 50 5.9% 90%;
		--ring: 50 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		/* #218D99 */
		--background: 198, 50%, 9%;
		/* #218D99 */
		--foreground: 183, 28%, 86%;

		/* #218D99 */
		--card: 155, 63%, 45%;
		/* #218D99 */
		--card-foreground: 0 0% 98%;

		/* #218D99 */
		--popover: 240 10% 3.9%;
		/* #218D99 */
		--popover-foreground: 0 0% 98%;

		/* #218D99 */
		--primary: 195, 100%, 95%;
		/* #218D99 */
		--primary-foreground: 240 5.9% 10%;

		/* #218D99 */
		--secondary: 155, 63%, 45%;
		/* #218D99 */
		--secondary-foreground: 0 0% 98%;

		/* #218D99 */
		--muted: 186, 65%, 36%;
		/* #218D99 */
		--muted-foreground: 240 5% 64.9%;

		/* #218D99 */
		--accent: 155, 63%, 45%;
		/* #218D99 */
		--accent-foreground: 0 0% 98%;

		/* #218D99 */
		--destructive: 155, 63%, 45%;
		/* #218D99 */
		--destructive-foreground: 0 0% 98%;

		--border: 195°, 65%, 55%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.bg-light-theme {
	background-color: #c0e5f2;
}

.bg-dark-theme {
	background-color: #0f252f;
}

::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}

::-webkit-scrollbar-thumb {
	background: #e6f9ff;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #218d99;
}

.visible-scrollbar::-webkit-scrollbar {
	width: 2px !important;
	height: 2px !important;
}

.visible-scrollbar::-webkit-scrollbar-thumb {
	background: #08535e;
	/* Scrollbar thumb color */
}

.visible-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #242728;
	cursor: grab !important;
}

.svg-container:hover #your-svg-path {
	fill: #d1e4e5;
}
