@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

@layer base {
	:root {
		/* #d2f7fe*/
		--background: 190, 96%, 91%;
		/* #032125*/
		--foreground: 187, 85%, 8%;

		/*#218D99*/
		--primary: 186, 65%, 36%;
		/* A*/
		--primary-foreground: 183, 49%, 63%;

		/* 	#3ae0f3*/
		--secondary: 186, 89%, 59%;
		/* 	A*/
		--secondary-foreground: 186, 65%, 36%;

		/* #0a4248 */
		--accent: 186, 76%, 16%;
		/* A */
		--accent-foreground: 0, 0%, 50%;

		/* #15666f */
		--card: 186, 68%, 26%;
		/* A*/
		--card-foreground: 350, 100%, 88%;

		/*#3a3c3c */
		--popover: 180, 2%, 23%;
		/* A*/
		--popover-foreground: 275, 100%, 25%;

		/* #2db6c5 */
		--muted: 186, 63%, 47%;
		/* A*/
		--muted-foreground: 0, 59%, 41%;

		/* #FF5353*/
		--destructive: 0, 100%, 66%;
		/* A*/
		--destructive-foreground: 0, 0%, 100%;
		/* #7d8182 */
		--border: 192, 2%, 50%;
		/* #a1a7a8 */
		--input: 189, 4%, 65%;
		/* #5a5d5e */
		--ring: 195, 2%, 36%;

		--radius: 0.5rem;
	}

	.dark {
		/* #218D99 */
		--background: 187, 85%, 8%;
		/* #218D99 */
		--foreground: 190, 96%, 91%;

		/*#218D99*/
		--primary: 186, 65%, 36%;
		/* A*/
		--primary-foreground: 183, 49%, 63%;

		/* 	#3ae0f3*/
		--secondary: 186, 89%, 59%;
		/* 	A*/
		--secondary-foreground: 186, 65%, 36%;

		/* #0a4248 */
		--accent: 186, 76%, 16%;
		/* A */
		--accent-foreground: 0, 0%, 50%;

		/* #15666f */
		--card: 186, 68%, 26%;
		/* A*/
		--card-foreground: 350, 100%, 88%;

		/*#3a3c3c */
		--popover: 180, 2%, 23%;
		/* A*/
		--popover-foreground: 275, 100%, 25%;

		/* #2db6c5 */
		--muted: 186, 63%, 47%;
		/* A*/
		--muted-foreground: 0, 59%, 41%;

		/* #FF5353*/
		--destructive: 0, 100%, 66%;
		/* A*/
		--destructive-foreground: 0, 0%, 100%;
		/* #7d8182 */
		--border: 192, 2%, 50%;
		/* #a1a7a8 */
		--input: 189, 4%, 65%;
		/* #5a5d5e */
		--ring: 195, 2%, 36%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.bg-light-theme {
	background-color: #c0e5f2;
}

.bg-dark-theme {
	background-color: #0f252f;
}

::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}

::-webkit-scrollbar-thumb {
	background: #e6f9ff;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #218d99;
}

.visible-scrollbar::-webkit-scrollbar {
	width: 2px !important;
	height: 2px !important;
}

.visible-scrollbar::-webkit-scrollbar-thumb {
	background: #08535e;
	/* Scrollbar thumb color */
}

.visible-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #242728;
	cursor: grab !important;
}

.svg-container:hover #your-svg-path {
	fill: #d1e4e5;
}

.hash-span {
	margin-top: -100px;
	padding-bottom: 100px;
	display: none;
}
