@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

@layer base {
	:root {
		/* #FFF*/
		--background: 0, 0%, 100%;
		/* #007E10*/
		--foreground: 128, 100%, 25%;

		/*#05AC1A*/
		--primary: 128, 94%, 35%;
		/* A*/
		--primary-foreground: 183, 49%, 63%;

		/* 	#20C335*/
		--secondary: 128, 72%, 45%;
		/* 	A*/
		--secondary-foreground: 186, 65%, 36%;

		/* #009112 */
		--accent: 127, 100%, 28%;
		/* A */
		--accent-foreground: 0, 0%, 50%;

		/* #15666f */
		--card: 120, 100%, 91%;
		/* A*/
		--card-foreground: 350, 100%, 88%;

		/*#3a3c3c */
		--popover: 127, 100%, 28%;
		/* A*/
		--popover-foreground: 0, 0%, 100%;

		/* #94FF97*/
		--muted: 122, 100%, 79%;
		/* A*/
		--muted-foreground: 0, 59%, 41%;

		/* #FF5353*/
		--destructive: 0, 100%, 66%;
		/* A*/
		--destructive-foreground: 0, 0%, 100%;
		/* #05ac1a */
		--border: 128, 94%, 35%;
		/* #d2ffd2*/
		--input: 120, 100%, 91%;
		/* #20c335 */
		--ring: 128, 72%, 45%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 192, 48%, 11%;

		--foreground: 175, 87%, 42%;

		--primary: 150, 70%, 88%;

		--primary-foreground: 135, 84%, 80%;

		--secondary: 162, 62%, 76%;

		--secondary-foreground: 149, 72%, 82%;

		--accent: 152, 77%, 56%;

		--accent-foreground: 146, 87%, 41%;

		--card: 192, 48%, 11%;

		--card-foreground: 155, 70%, 41%;

		--popover: 158, 63%, 30%;

		--popover-foreground: 159, 88%, 14%;

		--muted: 162, 62%, 55%;

		--muted-foreground: 186, 93%, 98%;

		--destructive: 162, 62%, 55%;

		--destructive-foreground: 186, 93%, 98%;

		--border: 162, 62%, 76%;

		--input: 149, 72%, 82%;

		--ring: 152, 77%, 56%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.bg-light-theme {
	background-color: #c0e5f2;
}

.bg-dark-theme {
	background-color: #0f252f;
}

::-webkit-scrollbar {
	width: 6px !important;
	height: 6px !important;
}

::-webkit-scrollbar-thumb {
	background: #e6f9ff;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #218d99;
}

.visible-scrollbar::-webkit-scrollbar {
	width: 2px !important;
	height: 2px !important;
}

.visible-scrollbar::-webkit-scrollbar-thumb {
	background: #08535e;
	/* Scrollbar thumb color */
}

.visible-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #242728;
	cursor: grab !important;
}

.svg-container:hover #your-svg-path {
	fill: #d1e4e5;
}

.hash-span {
	margin-top: -100px;
	padding-bottom: 100px;
	display: none;
}
