name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PW }}
      run: |
        echo "garcia2020_02948" | docker login -u $DOCKER_USERNAME --password-stdin
    - name: docker build
      run: |
        docker build -t chihor91/cave-microbiome-frontend:latest .
    - name: docker push
      run: docker push chihor91/cave-microbiome-frontend:latest
